.pantalla{
    width: 98vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 15% 20% 35% 20%;

    column-gap: 0.5vw;
    row-gap: 0.5vw;
}

.logo {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: deeppink;
}

.nav_bar{
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: aquamarine;
}

.banner{
    grid-row:3/4;
    grid-column: 1/3;
    background-color: blueviolet;
}

.side{
    grid-row: 4/5;
    grid-column: 1/2;

    background-color: chocolate;

}

.main{
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: chartreuse;

}

.footer{
    grid-row: 5/6;
    grid-column: 1/3;

    background-color: crimson;
}

@media (max-width: 600px){

    .pantalla {
            width: 100vw;
            height: 100vh;
    
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 15% 15% 5% 35% 20%;
    
            row-gap: 0.5vw;
        }
    

    .logo {
            grid-row: 1/2;
            
            background-color: deeppink;
        }
    
        .nav_bar {
            grid-row: 2/3;
            
            background-color: aquamarine;
        }
    
        .banner {
            grid-row: 3/4;
            
            background-color: blueviolet;
        }
    
        
         .side {
        
            display: none;
        
            grid-row: 4/5;
            
        
            background-color: hsla(0, 100%, 50%, 0.315);
        
        
        }


        .main {
            grid-row: 5/6;            
            background-color: chartreuse;    
        }

        

               
    
        .footer {
            grid-row: 6/7;
                
            background-color: crimson;
        }

}

@media print {
    .pantalla {
            width: 200mm;
            height: 290mm;
    
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 10% 15% 20% 35% 20%;
    
            column-gap: 1mm;
            row-gap: 1mm;
        }
    
        .logo {
            grid-row: 1/2;
            grid-column: 1/3;
            background-color: deeppink;
        }
    
        .nav_bar {
            grid-row: 2/3;
            grid-column: 1/3;
            background-color: aquamarine;
        }
    
        .banner {
            grid-row: 3/4;
            grid-column: 1/3;
            background-color: blueviolet;
        }
    
        .side {
            grid-row: 4/5;
            grid-column: 1/2;
    
            background-color: chocolate;
    
        }
    
        .main {
            grid-row: 4/5;
            grid-column: 2/3;
            background-color: chartreuse;
    
        }
    
        .footer {
            grid-row: 5/6;
            grid-column: 1/3;
    
            background-color: crimson;
        }

}









    
