@media screen and (min-width: 1000px) {
    body {
        background-color: lightgreen;
    }

        nav {
            background-color: var(--color-chulo);
            display: flex;
            justify-content: left;
    
            padding: 5vh;
        }
    
        a {
            text-decoration: dotted;
            color: black;
        }

        div{
            border : solid red 2px;
        }

        .verde:hover {
            background-color: var(--color-nav);
        }

        .distinto {
                    grid-row: 3/4;
        
                    display: grid;
        
                    grid-template-columns: 2;
                    grid-template-rows: 1;
                    grid-auto-flow: column;
                    background-color: unset;
                    background-color: var(--color-chulo);
                    border: var(--borde-tristoncio);
                }
       
}


:root{

 padding: 0;
 margin: 0;

}
body{
    margin:0;
}

nav{
    background-color: var(--color-nav);
    display: flex;
    justify-content: space-evenly;
    
    padding: 5vh;
}

a{
    text-decoration:  line-through;
    color: black;
}

.container{
     display: grid;
     width:100vw;
     height: 80vh;  
    
     grid-template-columns: 2;
     grid-template-rows: 5;
     border: solid tomato 3px;
}

.apartadoDoble{
    display: grid;
    border: var(--borde-flama);
   
}

.sideBar{
    grid-column-start: 1;
    grid-column-end: 2;
    border: var(--borde-tristoncio);
    background-color: red;
}

.bodyArea{
grid-column-start: 2;
grid-column-end: 5;
background-color: yellow;
}   

.apartado{
    background-color: lightblue;
}

.columna1{
    display: grid;
    width: 50vw;
    grid-column-start:1 ;
    grid-column-end: 2;
        background-color: rgb(171, 243, 237);

}

.columna2{
    display: grid;
    width: 50vw;
    grid-column-start: 2;
    grid-column-end: 3;
        background-color: rgb(236, 238, 128);

}

.verde{
    display: grid;
    grid-row: 2/3;


}

.verde:hover{
    background-color: var(--color-chulo);
}

.spot{
    display: grid;
grid-row: 1/2;

}

.distinto {
    grid-row: 3/4;

    display: grid;
    
    grid-template-columns: 2;
    grid-template-rows: 2;
    background-color: unset;
    background-color: var(--color-chulo); 
       border:var(--borde-tristoncio);
}

.c1Distinto{
    display: grid;
    grid-column:1/2;

    background-color: unset;
        background-color: var(--color-chulo);
}

.c2Distinto{
    display: grid;
    grid-column: 2/3;

        background-color: unset;
            background-color: var(--color-nav);


}